
footer {

height: 50px;
background-color: #ffb001;
position: absolute;
right: 0;
left: 0;
bottom: 0;
}

#foot {
  color: white;
  font-size: 20px;
}

body{
background: url("/images/background.jpg") no-repeat;
margin-bottom: 30%;
}










#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("/images/navimg.jpg");
    top: 0;
    left: 0;
    right: 0;
}

#navlink {
    float: left;
}

#navlink a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navlink a:hover {
    background-color: #ccc;
}

